@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../node_modules/flag-icons/css/flag-icons.css";
@layer base {
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Inter-Regular.ttf") format("truetype");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Inter-Medium.ttf") format("truetype");
  }

  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Inter-ExtraBold.ttf") format("truetype");
  }
}

em {
  @apply bg-yellow-200 text-blue-500 not-italic px-1 py-0.5 rounded-md font-semibold;
}
